<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pantalla de Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Sistema de Asistencia"></app-explore-container>

  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="apellido" label="Apellido" placeholder="Introduce tu Apellido"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="nombre" label="Nombre" placeholder="Introduce tu Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="email" label="Email" type="email" placeholder="email@sagradoalcal.edu.ar"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="contrasenia" label="Contraseña" type="password" value="12345678"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input [(ngModel)]="telefono" label="Telefono" type="number" placeholder="11-4209-1670"></ion-input>
      </ion-item>
      <ion-button (click)="enviar()">Enviar Todo</ion-button> 
      <ion-button (click)="borrar()">Borrar Todo</ion-button>
      <ion-button (click)="info()">Info</ion-button>
    </ion-list>
  </ion-list>

</ion-content>